/.idea
/build
/data/*.pbf
/data/dem/*.tif
/venv

/jupyter-notebooks/.ipynb_checkpoints
/jupyter-notebooks/.ipython
/jupyter-notebooks/.jupyter
/jupyter-notebooks/.local
/jupyter-notebooks/Untitled*.ipynb
